/* theme color */
$--color-primary: #6e45e2;

$--button-hover-tint-percent: 5% !default;
$--button-active-shade-percent: 5% !default;

/* icon font path, required */
$--font-path: '~element-ui/lib/theme-chalk/fonts';

@import '~element-ui/packages/theme-chalk/src/index';

.el-button {
  transition: all 0.3s;

  position: relative;
  top: 0;

  box-shadow: 0px 2px 15px hsla(176, 46%, 28%, 0.5);
  text-shadow: 1px 1px 10px hsla(176, 46%, 28%, 0.5);

  font-family: proxima-soft, sans-serif;
  letter-spacing: 2px;
}

.el-button:hover {
  box-shadow: 0px 4px 25px hsla(176, 46%, 28%, 0.5);
  top: -2px;
}

.el-button:active {
  transition: all 0.1s;
  box-shadow: 0px 0px 25px hsla(176, 46%, 28%, 0.5);
  top: 0px;
}
